{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공동구매</title>
    
    <!-- 부트스트랩 CSS -->
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
</head>
<body>
    <!-- 네비게이션 바 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">공동구매</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">홈 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">상품등록</a>
                </li>
            </ul>

            <form class="form-inline" action="{% url 'login' %}" method="get">
                <button class="btn btn-outline-success" type="submit">로그인</button>
            </form>
            <form class="form-inline">
                <button class="btn btn-outline-success" type="button" onclick="redirectToPage()">회원가입</button>
            </form>
        </div>
    </nav>

    <!-- 메인 컨텐츠 -->
    <div class="container mt-4">
        <div class="row">
            <!-- 이미지 섹션 (모바일에서는 위에, 데스크탑에서는 오른쪽에 표시됨) -->
            <div class="col-12 d-md-none">
                <label for="productImage"></label>
                <img src="{{ product_image_url|default:'' }}" class="img-fluid" alt="상품 이미지" id="productImage">
            </div>

            <!-- 입력 폼 섹션 -->
            <div class="col-md-6">
                <h2>상품 등록</h2>
                <form method="POST" action="{% url 'product_registration' %}">  <!-- action 추가 -->
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="productLink">링크 입력</label>
                        <input type="text" class="form-control" id="productLink" name="productLink" value="{{ product_link|default:'' }}" placeholder="상품 링크를 입력하세요">
                    </div>
                    <button type="submit" class="btn btn-primary">추가</button>

                    <div class="form-group mt-3">
                        <label for="productName">상품명</label>
                        <input type="text" class="form-control" id="productName" name="productName" value="{{ product_name|default:'' }}" placeholder="상품명을 입력하세요">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="price">가격</label>
                            <input type="text" class="form-control" id="price" name="price" value="{{ product_price|default:'' }}" placeholder="가격을 입력하세요">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="shippingFee">배송비</label>
                            <input type="text" class="form-control" id="shippingFee" name="shippingFee" value="{{ shipping_fee|default:'' }}" placeholder="배송비를 입력하세요" readonly>
                        </div>
                    </div>

                    <!-- 인원수 및 주소 입력 -->
                    <div class="form-group">
                        <label for="quantity">인원수</label>
                        <input type="number" class="form-control" id="quantity" min="1" value="1">
                    </div>
                    <div class="form-group">
                        <label for="sample3_address">주소</label>
                        <input type="text" class="form-control" id="sample3_address" placeholder="주소" readonly>
                    </div>
                    <div class="form-row align-items-center mb-3">
                        <div class="form-group col-md-4">
                            <button type="button" class="btn btn-secondary btn-block" onclick="sample3_execDaumPostcode()">우편번호 찾기</button>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="sample3_detailAddress" placeholder="상세주소">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">등록</button>
                </form>
            </div>

            <!-- 이미지 섹션 (데스크탑에서 오른쪽에 표시) -->
            <div class="col-md-6 d-none d-md-block">
                <label for="productImage">상품 이미지</label>
                <img src="{{ product_image_url|default:'' }}" class="img-fluid" alt="상품 이미지" id="productImage">
            </div>
        </div>
    </div>

    <!-- 우편번호 찾기 iframe -->
    <div id="wrap" style="display:none; border:1px solid; position:relative; width:300px; height:400px; margin:5px 0;">
        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" onclick="foldDaumPostcode()" alt="접기 버튼" style="cursor:pointer; position:absolute; right:0px; top:-1px; z-index:1;">
    </div>

    <!-- 다음 주소 API 스크립트 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        var element_wrap = document.getElementById('wrap');

        function foldDaumPostcode() {
            element_wrap.style.display = 'none';
        }

        function sample3_execDaumPostcode() {
            var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
            new daum.Postcode({
                oncomplete: function(data) {
                    var addr = '';

                    if (data.userSelectedType === 'R') {
                        addr = data.roadAddress;
                    } else {
                        addr = data.jibunAddress;
                    }

                    document.getElementById("sample3_address").value = addr;
                    document.getElementById("sample3_detailAddress").focus();

                    element_wrap.style.display = 'none';
                    document.body.scrollTop = currentScroll;
                },
                onresize: function(size) {
                    element_wrap.style.height = size.height + 'px';
                },
                width: '100%',
                height: '100%'
            }).embed(element_wrap);

            element_wrap.style.display = 'block';
        }

        function redirectToPage() {
            window.location.href = "{% url 'register' %}";
        }
    </script>

    <!-- 부트스트랩 JS 및 jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'myapp/js/bootstrap.js' %}"></script>
</body>
</html>
