<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>상품 등록하기
  </title>
  <!-- 부트스트랩 css 사용 -->
  <link rel="stylesheet" href="resources/css/bootstrap.css">
  <!--  부트스트랩 js 사용 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="resources/js/bootstrap.js"></script>
  <script src="resources/js/script.js"></script>
  
</head>
<body>
  <div class="item form">
      <form>

        <div class="form-group">
          <label for="link">상품링크 입력</label>
          <input type="link" class="form-control" id="link">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</body>